<h1>Calculator view</h1>

<div>
  Enter your command: <input type="text" id="command"/></br>
  <input type="button" value="Calculate" id="button"/>
  <!--<input type="button" value="Calculate" onclick="calculate()"/>-->
</div>